body {
    font-family: "Montserrat", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f7fa !important;
  }
  h1{
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
  }
  P{
    font-size: 16px;
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
      color:rgba(50, 57, 78, 0.69);
  }
  .text-center{
    text-align: center;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .MuiList-root .MuiMenuItem-root{
    font-family: "Montserrat", sans-serif;
    font-size:12px;
    color:#616A71;
  }
  .ml-1{
    margin-left: 0.25rem;
  }
    img{
          max-width:100%;
      }
  .cursor-pointer{
    cursor: pointer;
  }
  .color-danger{
    color:#E30D0F!important;
  }
  .color-success{
    color:#0CAB7C!important
  }
  .color-info{
    color:#2C99FF!important
  }
  .custom-header{
    padding: 10px !important;
  }

  .link-color{
    cursor: pointer;
    color: blue !important;
  }
  .position-relative {
    position: relative;
  }
  .position-absolute {
    position: absolute;
  }
  .custom-date-rangepicker{
    z-index: 4;
    top:36px;
    right:0;
  }